.sidebar{

  position:fixed;

  left:0;
  top:0;

  width:170px;
  height:100vh;

  padding:18px 12px;

  background:
    linear-gradient(
      180deg,
      rgba(8,8,12,.98),
      rgba(5,5,8,.98)
    );

  border-right:
    1px solid rgba(255,0,92,.12);

  display:flex;

  flex-direction:column;

  z-index:999;
}

.brand{

  margin-bottom:28px;
}

.brand h1{

  font-size:28px;

  font-weight:900;

  color:#ff0066;
}

.brand span{

  color:white;

  font-size:11px;

  letter-spacing:5px;
}

.sidebar-nav{

  display:flex;

  flex-direction:column;

  gap:10px;
}

.sidebar-nav a{

  height:46px;

  display:flex;

  align-items:center;

  padding:0 16px;

  border-radius:16px;

  background:
    rgba(255,255,255,.03);

  border:
    1px solid rgba(255,255,255,.03);

  color:#d2d2db;

  font-size:14px;

  font-weight:700;

  transition:.3s;
}

.sidebar-nav a:hover{

  border-color:
    rgba(255,0,92,.2);
}

.sidebar-nav .active{

  background:
    linear-gradient(
      135deg,
      #ff0066,
      #ff2f92
    );

  color:white;

  box-shadow:
    0 10px 30px rgba(255,0,92,.25);
}

.family-status{

  margin-top:auto;

  padding:16px;

  border-radius:22px;

  background:
    linear-gradient(
      145deg,
      rgba(255,0,92,.12),
      rgba(255,255,255,.03)
    );

  border:
    1px solid rgba(255,255,255,.05);
}

.status-title{

  font-size:13px;

  font-weight:800;

  margin-bottom:12px;
}

.status-online{

  height:18px;

  border-radius:999px;

  background:#00ff99;

  box-shadow:
    0 0 20px rgba(0,255,153,.6);

  color:white;

  font-size:12px;

  display:flex;

  align-items:center;

  padding:0 10px;
}
